/* You can add global styles to this file, and also import other style files */
html, body {
  min-height: 100vh;
}

.main-wrapper {
  min-height: 100vh;
}

header, main, footer {
  width: 100%;
  align-self: center;
}

footer {
  width: 100%;
  text-align: center;
}


@media (max-width: 576px) {
  // header.row {

  // }
}

